meta_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
This xsd validates COMNAME schema files.
It is based on a draft version of the standard, not the officially release standard
The intent is that complying with this xsd file will be necessary and sufficient to
conform to the schema definition defined in the (draft) standard, but this has not been 
validated yet
-->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  targetNamespace="http://ieee.org/c37.232-2025/schema"
  xmlns:tns="http://ieee.org/c37.232-2025/schema"
  xmlns="http://ieee.org/c37.232-2025/schema"
  vc:minVersion="1.1"
>

  <xs:simpleType name="SingleChar">
    <xs:restriction base="xs:string">
      <xs:length value="1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FileCharSet">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^:?/\\*|:;\[\]$%{}&gt;&lt;&quot;]+" />
    </xs:restriction>
  </xs:simpleType>

  <!-- =========================================================
       Root element
       ========================================================= -->
  <xs:element name="COMNAME">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Delimiter" type="SingleChar" />
        <xs:element name="EscapeChar" type="SingleChar" />
        <xs:element name="FileFields" type="FileFieldsType" minOccurs="0" />
        <xs:element name="Folders" type="FoldersType" minOccurs="0" />

        <!-- Allow vendor/private extension elements from other namespaces -->
        <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>

      <xs:attribute name="version" type="xs:string" fixed="2025" />
    </xs:complexType>

    <!-- Uniqueness Constraints -->
    <xs:key name="stationIdKey">
      <xs:selector xpath="tns:FileFields/tns:Stations/tns:Station" />
      <xs:field xpath="@stationId" />
    </xs:key>
    <xs:key name="deviceIdKey">
      <xs:selector xpath="tns:FileFields/tns:Devices/tns:Device" />
      <xs:field xpath="@deviceId" />
    </xs:key>
    <xs:key name="companyIdKey">
      <xs:selector xpath="tns:FileFields/tns:Companies/tns:Company" />
      <xs:field xpath="@companyId" />
    </xs:key>
    <xs:key name="trigIdKey">
      <xs:selector xpath="tns:FileFields/tns:TrigTypes/tns:TrigType" />
      <xs:field xpath="@trigTypeId" />
    </xs:key>
    <xs:key name="dataIdKey">
      <xs:selector xpath="tns:FileFields/tns:DataTypes/tns:DataType" />
      <xs:field xpath="@dataTypeId" />
    </xs:key>
    <xs:key name="genericIdKey">
      <xs:selector xpath="tns:FileFields/tns:Generic" />
      <xs:field xpath="@genericType" />
    </xs:key>
    <xs:keyref name="genericIdFolderKeyref" refer="genericIdKey">
      <xs:selector xpath="tns:Folders/tns:Category/tns:GenericField" />
      <xs:field xpath="@genericType" />
    </xs:keyref>
  </xs:element>


  <!-- =========================================================
       Complex Types
       ========================================================= -->

  <xs:complexType name="FileFieldsType">
    <xs:all>
      <!-- Kept as xs:string so self-closing placeholders validate -->
      <xs:element name="StartDate" type="xs:string" />
      <xs:element name="StartTime" type="xs:string" />
      <xs:element name="TimeCode" type="xs:string" />

      <xs:element name="Stations" type="StationsType" />
      <xs:element name="Devices" type="DevicesType" />
      <xs:element name="Companies" type="CompaniesType" />

      <xs:element name="DurationIso8601" type="xs:string" minOccurs="0" />
      <xs:element name="DurationDate" type="xs:string" minOccurs="0" />
      <xs:element name="DurationTime" type="xs:string" minOccurs="0" />

      <xs:element name="TrigTypes" type="TrigTypesType" minOccurs="0" />
      <xs:element name="DataTypes" type="DataTypesType" minOccurs="0" />

      <xs:element name="GeoLocationIso6709" type="xs:string" minOccurs="0" />
      <xs:element name="GeoLocationLat" type="xs:string" minOccurs="0" />
      <xs:element name="GeoLocationLon" type="xs:string" minOccurs="0" />

      <xs:element name="Generic" type="GenericType" minOccurs="0" maxOccurs="unbounded" />
    </xs:all>
    <xs:assert
      test="
      (exists(tns:DurationIso8601) and not(exists(tns:DurationDate) or exists(tns:DurationTime)))
      or
      (not(exists(tns:DurationIso8601)) and exists(tns:DurationDate) and exists(tns:DurationTime))
      or
      not(exists(tns:DurationIso8601) or exists(tns:DurationDate) or exists(tns:DurationTime))
    " />
    <xs:assert
      test="
      (exists(tns:GeoLocationIso6709) and not(exists(tns:GeoLocationLat) or exists(tns:GeoLocationLon)))
      or
      (not(exists(tns:GeoLocationIso6709)) and exists(tns:GeoLocationLat) and exists(tns:GeoLocationLon))
      or
      not(exists(tns:GeoLocationIso6709) or exists(tns:GeoLocationLat) or exists(tns:GeoLocationLon))
    " />
  </xs:complexType>

  <xs:complexType name="StationsType">
    <xs:sequence>
      <xs:element name="Station" type="StationType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StationType">
    <xs:attribute name="stationId" type="FileCharSet" use="required" />
    <xs:attribute name="fullName" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="DevicesType">
    <xs:sequence>
      <xs:element name="Device" type="DeviceType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DeviceType">
    <xs:attribute name="deviceId" type="FileCharSet" use="required" />
    <xs:attribute name="fullName" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="CompaniesType">
    <xs:sequence>
      <xs:element name="Company" type="CompanyType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CompanyType">
    <xs:attribute name="companyId" type="FileCharSet" use="required" />
    <xs:attribute name="fullName" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="TrigTypesType">
    <xs:sequence>
      <xs:element name="TrigType" type="TrigTypeType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TrigTypeType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="trigTypeId" type="FileCharSet" use="required" />
    <xs:attribute name="fullName" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="DataTypesType">
    <xs:sequence>
      <xs:element name="DataType" type="DataTypeType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DataTypeType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="dataTypeId" type="xs:string" use="required" />
    <xs:attribute name="fullName" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="GenericType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="genericType" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="FoldersType">
    <xs:sequence>
      <xs:element name="Category" type="CategoryType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CategoryType">
    <!-- Category can contain a mix of known folder-field elements -->
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="ccyymmdd" type="xs:string" />
      <xs:element name="ccyymm" type="xs:string" />
      <xs:element name="ccyy" type="xs:string" />
      <xs:element name="yymmdd" type="xs:string" />
      <xs:element name="yymm" type="xs:string" />
      <xs:element name="yy" type="xs:string" />
      <xs:element name="mmdd" type="xs:string" />
      <xs:element name="mm" type="xs:string" />
      <xs:element name="dd" type="xs:string" />
      <xs:element name="HHMMSS" type="xs:string" />
      <xs:element name="HHMM" type="xs:string" />
      <xs:element name="HH" type="xs:string" />
      <xs:element name="MMSS" type="xs:string" />
      <xs:element name="MM" type="xs:string" />
      <xs:element name="SS" type="xs:string" />
      <xs:element name="StationId" type="xs:string" />
      <xs:element name="DeviceId" type="xs:string" />
      <xs:element name="DataType" type="xs:string" />
      <xs:element name="TrigType" type="xs:string" />
      <xs:element name="Company" type="xs:string" />
      <xs:element name="GenericField" type="GenericFieldType" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="GenericFieldType">
    <xs:attribute name="genericType" type="xs:string" use="required" />
  </xs:complexType>


</xs:schema>